<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30" shutdownHook="disable">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level (%-10F:%3L) - %msg%n"/>
		</Console>
		<Console name="AccessLog" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level (%-10F:%3L) - %msg%n"/>
		</Console>
	</Appenders>
	<Loggers>
		<!-- Access log logger -->
		<Logger name="com.apple.wwrc.foundation.framework.logger.AccessLogger" level="debug" additivity="false">
			<AppenderRef ref="AccessLog" level="info"/>
		</Logger>

		<Logger name="com.apple.wwrc.service" level="debug" additivity="false">
			<AppenderRef ref="Console" level="debug"/>
		</Logger>
		<Root level="debug">
			<AppenderRef ref="Console" level="warn"/>
		</Root>
	</Loggers>
</Configuration>